body {
	background-color: #EFEFEF;
}
.wikiVisionContainer {
}
.leftSection{
	height: 80vh;
	width: 27%;
	float: left;
	margin-left: 3%;
}
.rightSection{
	margin: 0 auto;
	width: 64%;
	height: 80vh;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
}

#wikiFrame{
	overflow: auto;
	background-color: #FFF;
	height: 80vh;
}
#wikiTargetFrame{
	height: 40vh;
	overflow: auto;
	background-color: #FFF;
}
#wikiHistoryFrame{
	height: 40vh;
	overflow: auto;
}
#matchesList{
	overflow: auto;
	height: 75vh;
	background-color: #FFF;
}
#tutorialFrame{
	overflow: auto;
	height: 35vh;
	background-color: #FFF;
	padding: 10px;
}
#infoFrame{
	padding: 10px;
	overflow: auto;
	height: 26.6vh;
	background-color: #FFF;
}

/*Content fixes*/

#content{
	border-color: #A7D7F9;
	background-color: #FFF;
	color: #252525;
	padding: 10px 20px;
}
a[href='#'] {
	color: #FF8800;
}
#wikiTargetFrame a[href='#'] {
	text-decoration: none;
	color: inherit;
}
#wikiTargetFrame img{
	float: right;
	height: auto;
	width: 40%;
}
/*Style*/
a.button.secondary {
	background-color: #0095DD;
}
a.button.secondary:hover{
	background-color: #0073BB;
}
a.button {
	background-color: #FF8800;
	text-decoration: none;
	color: #FFF;
	padding: 5px;
	font-size: .75em;
	border-radius: 3px;
}
a.button:hover {
	background-color: #DD6600;
	color: #DDD;
}
span.info {
	color: #0095DD;
	font-size: .75em;
}
#matchesList li {
	color: #0095DD;
}
#matchesList li a {
	color: #0095DD;
}
#tutorialFrame p {
	text-align: justify;
}