body {
	background-color: #EFEFEF;
}
.wikiVisionContainer {
}
.leftSection{
	height: 80vh;
	width: 27%;
	float: left;
	margin-left: 3%;
}
.rightSection{
	margin: 0 auto;
	width: 67%;
	height: 80vh;
	float: left;
	margin-left: 3%;
}

#wikiFrame{
	overflow: auto;
	height: 80vh;
}
#wikiTargetFrame{
	height: 40vh;
	overflow: auto;
	background-color: #FFF;
}
/*Content fixes*/

#content{
	border-color: #A7D7F9;
	background-color: #FFF;
	color: #252525;
	padding: 10px 20px;
}
a[href='#'] {
	color: #FF8800;
}
#wikiTargetFrame a[href='#'] {
	text-decoration: none;
	color: inherit;
}
#wikiTargetFrame img{
	float: left;
}
